.clock {
    width: 32px;
    height: 32px;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border-radius: 50%;
    position: relative;
}

.clock:after, .clock:before {
    position: absolute;
    content: "";
    background-color: #fff;
        transform-origin: 1px 1px;
}

.clock:before {
    width: 2px;
    height: 8px;
    top: 15px;
    left: 15px;
    animation: clock-hour-move 8s linear infinite;
}

.clock:after {
    width: 2px;
    height: 12px;
    top: 15px;
    left: 15px;
    animation: clock-minute-move 2s linear infinite;
}

@keyframes clock-hour-move {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}

@keyframes clock-minute-move {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}

.battery {
    width: 35px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 2px; 
    position: relative;
}

.battery:after, .battery:before {
    position: absolute; 
    background: #fff;
    content: '';

}

.battery:before {
    width: 3px;
    height: 10px;
    top: 3px;
    left: 38px;
}

.battery:after {
    width: 1px;
    height: 12px;
    top: 2px;
    left: 1px;
    animation: battery-move 3s infinite linear;
}

@keyframes battery-move {
    from {width: 1px}
    to {width: 33px}
}

.coffee {
    width: 20px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 0 0 6px 6px; 
    position: relative;
}

.coffee:after, .coffee:before {
    position: absolute; 
    content: '';
}

.coffee:after {
    width: 8px;
    height:15px;
    left: 20px;
    border: 1px solid #fff;
    border-left: 0; 
    border-radius: 0px 15px 15px 0px; 
}

.coffee:before {
    background: #fff;
    width: 1px;
    height:0;
    top: -12px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px rgba(255,255,255,1), 5px -5px 0px 0px rgba(255,255,255,1), 10px 0px 0px 0px rgba(255,255,255,1);
    animation: coffee-move 2s infinite ease-in-out;
}

@keyframes coffee-move {
    from {height:0}
    to { height:7px }
}

.search {
    width: 28px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    animation: search-move 1s infinite alternate;
  
}

.search:before, .search:after {
    position: absolute;
    content: '';
}

.search:after {
    width: 2px;
    height: 24px;
    background: #fff;
    transform: rotate(-40deg);
    left: 29px;
    top: 24px;
}

.search:before {
    content: 'byte';  
    left: 2px; 
    top: 5px;
    text-align: center;
    font-size: 1px;
}

@keyframes search-move {
    from { transform: scale(0.8) }
    to { transform: scale(1.2) }
}

.eyes {
    width: 60px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 50%; 
    position: relative;
}

.eyes:before, .eyes:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    top: 10px;
    left: 2px;
    animation: eye-move 4s linear infinite alternate;
}

.eyes:after {
    left:30px;
}

@keyframes eye-move {
   20% { transform: translateX(2px) translateY(3px) }
   50% { transform: translateX(5px) translateY(6px) }
   70% { transform: translateX(7px) translateY(3px) }
   100% { transform: translateX(10px) translateY(0px) }
}

.fan {
    width: 10px;
    height: 50px;
    background: #fff;
}

.scissors-container {
    display: flex;
}

.scissors {
    width: 2px;
    height: 45px;
    position: relative;
    background: #fff;
    transform-origin: 0 28px;
   
}

.scissors-left {
    animation: scissors-left-move 1.5s infinite alternate linear;
}

.scissors-right {
    animation: scissors-right-move 1.5s infinite alternate linear;
}

.scissors:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 45px;
    left: -5px;
}

@keyframes scissors-left-move {
    from {transform: rotate(-35deg)}
    to {transform: rotate(-5deg)}
}

@keyframes scissors-right-move {
    from {transform: rotate(35deg)}
    to {transform: rotate(5deg)}
}

.paper {
    width: 50px;
    height: 70px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.paper .paper-line {
    width: 80%;
    height: 2px;
    background: #59488b;
    border-radius: 5px;
}

.paper:after {
    content: '';
    width: 4px;
    height: 43px;
    background: #000;
    position: absolute;
    animation: pencil-move 5s linear infinite;
}

@keyframes pencil-move {
    0% {transform: rotate(-30deg) translateX(-20px) translateY(-10px)}
    20% { transform: rotate(-30deg) translateX(30px) translateY(15px)}
    40% { transform: rotate(-30deg) translateX(-20px) translateY(15px)}
    60% { transform: rotate(-30deg) translateX(20px) translateY(35px)}
    80% { transform: rotate(-30deg) translateX(-30px) translateY(30px)}
    100% { transform: rotate(-30deg) translateX(10px) translateY(50px)}
}