.square {
    width: 30px;
    height: 30px;
    background: #FF8F42;
}

.circle {
    width: 30px;
    height: 30px;
    background: #FF8F42;
    border-radius: 50%;
}

.line {
    width: 2px;
    height: 60px;
    background: #FF8F42;
}